html{
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(rgba(95, 114, 190, .7), rgba(155, 35, 234, .7) ), url(img/fondo.jpg);
    background-size: cover ;
    background-position: center;
    color: white;
}
.logo{
    margin-left: 0px;
    height: 80px;
    width: 200px;
    
}
.hoja{
    height: 400px;
    padding-bottom: 20px;
}
.texto-descripcion{
    letter-spacing: 2px;
    font-family:sans-serif;
}
.form-control{
    background: transparent !important; 
    color: white !important;
}
a .fab{
    color: #FFF;
    font-size: 25px;
    margin: 0 10px;
}